@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    background: linear-gradient(white, grey);
    background-size: 25%;
    color: white;
}


#title{
    font-family: "Roboto";
    color: white;
    margin: auto;
    font-size: 4vw;
    font-weight: 900;
    transform: rotate(-90deg);
    position: fixed;
    margin-top: 20%;
}

p{
    font-family: "Roboto";
}

#intro{
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
    padding: 5%;
    color: black;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 500;
}

.box{
    background-color: white;
    padding-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
}

.icon1{
    display:block;
    border-radius: 50%;
    border:solid #ef8354 0.3vw;
    margin: 0 auto;
}

.legende{
    font-family: "Roboto";
    text-align: center;
    font-size: 1.3vw;
    color: black;
}

.icon2{
    display:block;
    border-radius: 50%;
    border:solid #ef8354 0.3vw;
    margin: 0 auto;
}

.icon3{
    display: block;
    border-radius: 50%;
    border:solid #ef8354 0.3vw;
    margin: 0 auto;
}

.icon4{
    display: block;
    border-radius: 50%;
    border:solid #ef8354 0.3vw;
    margin: 0 auto;
}

.figure1{
    width: 33%;
}

.figure2{
    width: 33%;
}

.figure3{
    width:33%;
}

.figure4{
    width: 33%;
}

#icons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


#title_box{
    background-color: #ef8354;
    padding: 3%;
    border: solid  0.4vw #ef8354 ;
    width: 15%;
    height: 100vh;
}

#back{
    transition: 0.4s;
    margin: -2%;
    position:fixed
}

#back:hover{
    transition: 0.4s;
    width: 4%;
    height: auto;
    transform: translateX(-10px);
    transform: translateY(-10px);
}


#everything{
    display: flex;
}



/* For mobile displays */
@media screen and (max-width: 600px) {
    #title{
        font-size: 6vw;
        margin-left: -10%;
        position: fixed;
        margin-top: 50%;
    }
    #intro{
        font-size: 4vw;
    }
}