body{
  background-color: #2b2b2b;
}





.wrapper {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px,auto);
    padding: 5%;
}


  
  .wrapper > .eleve {
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 1em;
    color: #d9480f;
  }
  .wrapper > .seleve{
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #ff9718;
    padding: 1em;
    color: #d9480f;

  }