.wrapper {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px,auto);
    border: 2px solid #ffa94d;
    background-color: #ffd8a8;
}

.eleve1{
    grid-column: 1;
    grid-row: 1/7;
}