
/* MAIN FONT : ROBOTO */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    transition: 0.4s;
    margin: 0;
    padding: 0;
    background-color: #fff;
    cursor: default;
    overflow: hidden;
    user-select: none;
}


#menu{
    transition: 0.75s;
    margin: 20vh 4vw;
    display: grid;
}

img{
    pointer-events: none;
}

#image1{
    transition: 0.75s;
    z-index: -10;
    grid-column: 2;
    margin: auto auto;
    border-radius: 10px;
    position: absolute;
    right: 20vw;
    width: 30%;
    filter: blur(1.75px) brightness(1.1);
    transform: rotate(5deg);
}

#image2{
    transition: 0.75s;
    z-index: -5;
    grid-column: 2;
    margin: auto auto;
    border-radius: 10px;
    position: absolute;
    right: 30vw;
    width: 25%;
    filter: blur(1.25px) brightness(1.1);
    transform: rotate(-5deg);
}

#title{
    font-family: 'Roboto', 'Arial';
    font-weight: 900;
    font-size: 5.5vw;
    color: #2b2b2b;
    margin: 0 8%;
    grid-column: 1;
}

#go{
    text-align: center;
    transition: 0.2s;
    width: 30%;
    margin: 30px 8%;
    padding: 10px 5px;
    font-family: 'Roboto', 'Arial';
    font-weight: 500;
    font-size: 2.25vw;
    color: #2b2b2b;
    border: #EF8354 3px solid;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 1;
    grid-row: 2;
}



#go:hover{
    transition: 0.4s;
    box-shadow: inset #EF8354 0 -100px 0 0;
    transform: scale(1.1);
    color: white;
    background-color: #EF8354;
}

#about{
    transition: 0.2s;
    position: fixed;
    right: 10px;
    bottom: 10px;
    scale: 0.5;
    pointer-events: all;
}
#about:hover{
    scale: 0.6;
}






#content{
    text-align: center;
    margin: 20px 0;
}

#titleContent{
    margin: 30px auto;
    padding: 10px 0;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Roboto';
    color: white;
}

#contentInfo{
    width: 65vw; height: 60vh;
    margin: 0 auto;
}


#imageContainer{
    width: 99%; height: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: #fff 0 0 0px 3px;

}

#descriptionContent{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1rem;
    border-radius: 10px;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    background-color: #EF8354;
    color: #fff;
    padding: 20px 10px;
    margin: 5px auto;
}

#rightButton{
    height: 100%;
    width: 35%;
    position: fixed;
    right: 0; 
    top: 0;
    background-color: red;
    opacity: 0;
}
#leftButton{
    height: 100%;
    width: 35%;
    position: fixed;
    left: 0; 
    top: 0;
    background-color: red;
    opacity: 0;
}



#help{
    transition: 0.3s;
    scale: 0.5;
    position: fixed;
    right: 5px; bottom: 5px;
    cursor: pointer;
}

#help:hover{
    transition: 0.15s;
    scale: 0.55;
}

#helpWindow{
    transition: 0.4s;
    position: fixed;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    background-color: #2b2b2b;
    opacity: 0.99;
    display: grid;
    text-align: center;
    color: white;
    overflow: scroll;
}

#helpTitle{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 50px;
    margin: 40px 0 30px 0;
}

#closeHelpButton{
    transition: 0.4s;
    font-weight: 800;
    font-family: 'Roboto';
    font-size: 20px;
    border: #EF8354 solid 3px;
    margin: 0 auto 50px auto;
    padding: 10px 50px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;

    &:hover{
        transition: 0.2s;
        box-shadow: inset #EF8354 0 -45px 0 0;
        scale: 1.1;
        background-color: #EF8354;
    }
}

#helpContent{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    margin: 1vh auto 50px auto;
    align-items: center;
    align-content: center;
}

.helpImage{
    scale: 1;
}

.helpText{
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 25px;
    width: 60%;
    margin: 30px auto;
}

#swipeLeft{
    border: #EF8354 solid 5px;
    border-radius: 10px;
    padding: 12% 50px;
    height: fit-content;
    width: 30%;
    margin: auto;

}

#swipeRight{
    border: #EF8354 solid 5px;
    border-radius: 10px;
    padding: 12% 50px;
    height: fit-content;
    width: 30%;
    margin: auto;
}



/* Mobile displays */
/* Has to be updated a bit */
@media screen and (max-width: 600px) {

    #title{
        font-family: 'Roboto', 'Arial';
        font-weight: 900;
        font-size: 9vw;
        color: #2b2b2b;
        margin: 0 8%;
        grid-column: 1;
    }

    #go{
        text-align: center;
        transition: 0.2s;
        width: 70%;
        margin: 30px 8%;
        padding: 20px 5px;
        font-family: 'Roboto', 'Arial';
        font-weight: 500;
        font-size: 5vw;
        color: #2b2b2b;
        border: #EF8354 3px solid;
        border-radius: 5px;
        cursor: pointer;
        grid-column: 1;
        grid-row: 2;
    }

    #image1{
        width: 50%;
        right: 5vw;
    }
    #image2{
        width: 50%;
        right: 5vw;

    }
}
