
/* MAIN FONT : ROBOTO */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    transition: 0.7s;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    cursor: default;
    overflow: hidden;
}


#menu{
    transition: 0.75s;
    margin: 20vh 4vw;
    display: grid;
}

#image1{
    transition: 0.75s;
    z-index: -10;
    grid-column: 2;
    margin: auto auto;
    border-radius: 10px;
    position: absolute;
    right: 20vw;
    width: 30%;
    filter: blur(1.75px) brightness(0.75);
    transform: rotate(5deg);
}

#image2{
    transition: 0.75s;
    z-index: -5;
    grid-column: 2;
    margin: auto auto;
    border-radius: 10px;
    position: absolute;
    right: 30vw;
    width: 25%;
    filter: blur(1.25px) brightness(0.75);
    transform: rotate(-5deg);
}

#title{
    font-family: 'Roboto', 'Arial';
    font-weight: 900;
    font-size: 5.5vw;
    color: white;
    margin: 0 8%;
    grid-column: 1;
}
#go{
    text-align: center;
    transition: 0.2s;
    width: 30%;
    margin: 30px 8%;
    padding: 10px 5px;
    font-family: 'Roboto', 'Arial';
    font-weight: 500;
    font-size: 2.25vw;
    color: white;
    border: #EF8354 2px solid;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 1;
    grid-row: 2;
}



#go:hover{
    transition: 0.4s;
    /*background-color: #EF8354;
    color: white;
    transform: scale(1.15);*/
    box-shadow: inset #EF8354 0 -100px 0 0;
    transform: scale(1.1);
}

#content{
    text-align: center;
    margin: 50px 0;
}

#descriptionContent{
    font-family: 'Roboto';
    font-weight: 900;
    background-color: #2b2b2b;
    color: #ececec;
    padding: 30px 60px;
    width: fit-content;
    margin: -20px auto;
    border-radius: 10px;
    max-width: 40vw;
    line-height: 150%;
}
#imageContainer{
    transition: 0.4s;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: block;
    margin: 4px auto;
    height: 30%;
    width: 57%;
    size: 20vw;
}

#imageContainer:hover{
    transition: 0.25s;
    transform: scale(102%); 
    z-index: -50px;
}

#titleContent{
    margin: 10px 0;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Roboto';
    color: #2b2b2b;
}

#rightButton{
    transition: 0.4s;
    position: fixed;
    right: 40px;
    top: 50vh;
}

#rightButton:hover{
    transform: translateX(5px);
    box-shadow: #2b2b2b -2px 0 0px;
}

#selector{
    transition: 0.25s;
    right: 10px;
    bottom: 10px;
    width: 25px;
    text-align: center;
    border: #EF8354 solid 2px;
    border-radius: 10px;
    padding: 5px;
    cursor: default;
    outline: none;
    position: fixed;
}

#selector:focus{
    transition: 0.4s;
    border-color: #2b2b2b;
}